<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QUANLY1.Properties.Settings.QuanLySoTietKiem6ConnectionString" connectionString="Data Source=DESKTOP-OPB6A1C\HOANG0903;Initial Catalog=QuanLySoTietKiem6;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="QUANLY1.Properties.Settings.Saving_MoneyConnectionString" connectionString="Data Source=DESKTOP-OPB6A1C\HOANG0903;Initial Catalog=Saving_Money;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="QUANLY1.Properties.Settings.Saving_MoneyConnectionString1" connectionString="Data Source=DESKTOP-6OPQVI9;Initial Catalog=Saving_Money;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
